#!/bin/bash
exec agave-validator \
--identity /home/solv/identity.json \
--log /home/solv/solana-validator.log \
--accounts /mnt/accounts \
--ledger /mnt/ledger \
--snapshots /mnt/snapshot \
--entrypoint entrypoint.devnet.solana.com:8001 \
--entrypoint entrypoint2.devnet.solana.com:8001 \
--entrypoint entrypoint3.devnet.solana.com:8001 \
--entrypoint entrypoint4.devnet.solana.com:8001 \
--entrypoint entrypoint5.devnet.solana.com:8001 \
--known-validator dv1ZAGvdsz5hHLwWXsVnM94hWf1pjbKVau1QVkaMJ92 \
--known-validator dv2eQHeP4RFrJZ6UeiZWoc3XTtmtZCUKxxCApCDcRNV \
--known-validator dv4ACNkpYPcE3aKmYDqZm9G5EB3J4MRoeE7WNDRBVJB \
--known-validator dv3qDFk1DTF36Z62bNvrCXe9sKATA6xvVy6A798xxAS \
--only-known-rpc \
--expected-genesis-hash EtWTRABZaYq6iMfeYKouRu166VU2xqa1wcaWoxPkrZBG \
--dynamic-port-range {{ dynamic_port_range | default("8900-8925") }}  \
--full-rpc-api \
--no-voting \
--rpc-port {{ port_rpc | default(8899, true) }} \
--wal-recovery-mode skip_any_corrupted_record \
{% if rpc_type == 'Geyser gRPC' -%}
--limit-ledger-size 50000000 \
--no-snapshot-fetch \
--enable-rpc-transaction-history \
--geyser-plugin-config /home/solv/geyser.json \
{% elif rpc_type == 'SendTx RPC' -%}
--limit-ledger-size 30000000 \
--no-snapshot-fetch \
{% elif rpc_type == 'Index RPC' -%}
--limit-ledger-size 200000000 \
--enable-rpc-transaction-history \
--enable-extended-tx-metadata-storage \
--account-index program-id spl-token-mint spl-token-owner \
{% elif rpc_type == 'Index RPC + gRPC' -%}
--limit-ledger-size 200000000 \
--enable-rpc-transaction-history \
--enable-extended-tx-metadata-storage \
--account-index program-id spl-token-mint spl-token-owner \
--geyser-plugin-config /home/solv/geyser.json \
{% else -%}
--limit-ledger-size {{ limit_ledger_size | default(100000000) }} \
{% endif -%}
{% if tpu_peer_address is defined and tpu_peer_address %}
{% if rpc_type == 'Index RPC' or rpc_type == 'Index RPC + gRPC' %}
--rpc-send-transaction-tpu-peer {{ tpu_peer_address }} \
--rpc-send-transaction-also-leader \
{% endif %}
{% endif %}
--no-port-check{% if rpc_type == 'Geyser gRPC' or rpc_type == 'Index RPC + gRPC' %} \
--rpc-pubsub-enable-block-subscription \
--rpc-pubsub-enable-vote-subscription \
{% endif %}