logs:
  json: false

metrics:
  endpoint: 127.0.0.1:10124

channel:
  tokio:
    worker_threads: null # by default number of cpus
    affinity: null # by default no affinity (taskset syntax)

  sources:
    - name: plugin-grpc
      parser: prost # valid: prost, limited
      disable_accounts: false
      reconnect: null
      source: richat # valid: richat, dragons_mouth
      transport: grpc
      # FIX: must point to apps.richat.grpc.endpoint
      endpoint: http://127.0.0.1:10004
      ca_certificate: null
      connect_timeout: null
      buffer_size: null
      http2_adaptive_window: null
      http2_keep_alive_interval: null
      initial_connection_window_size: null
      initial_stream_window_size: null
      keep_alive_timeout: null
      keep_alive_while_idle: false
      tcp_keepalive: 30s
      tcp_nodelay: true
      timeout: null
      max_decoding_message_size: 16MiB # better set to 16MiB (because account messages can be more than 10MiB)
      compression:
        accept: [] # valid: gzip, zstd
        send: [] # valid: gzip, zstd
      x_token: null

    - name: plugin-quic
      parser: prost
      disable_accounts: false
      reconnect:
        initial_interval: 1s
        max_interval: 30s
        multiplier: 2
      transport: quic
      source: richat # valid: richat, dragons_mouth
      # FIX: must point to apps.richat.quic.endpoint
      endpoint: 127.0.0.1:10101
      local_addr: "[::]:0"
      expected_rtt: 5
      max_stream_bandwidth: 125_000_000 # 2000Mbits with 5ms latency
      max_idle_timeout: 30s
      server_name: null # localhost
      recv_streams: 32
      max_backlog: 8192
      insecure: false
      cert: null
      x_token: null

  config:
    max_messages: 2_097_152
    max_bytes: 16GiB

apps:
  tokio:
    worker_threads: null # by default number of cpus
    affinity: null # by default no affinity (taskset syntax)

  richat:
    grpc:
      endpoint: "0.0.0.0:10100"
      compression:
        accept:
          - gzip
          - zstd
        send:
          - zstd
      max_decoding_message_size: 16MiB
      server_tcp_keepalive: 30s
      server_tcp_nodelay: true
      server_http2_adaptive_window: true
      server_http2_keepalive_interval: 30s
      server_http2_keepalive_timeout: 10s
      server_initial_connection_window_size: 67108864
      server_initial_stream_window_size: 16777216

    quic:
      endpoint: "0.0.0.0:10101"
      tls_config:
        self_signed_alt_names:
          - localhost
      expected_rtt: 5
      max_stream_bandwidth: 125_000_000
      max_idle_timeout: 30
      max_recv_streams: 32
      max_request_size: 4092
      x_tokens: []

  grpc:
    server:
      endpoint: 0.0.0.0:10000
      compression:
        accept:
          - gzip
          - zstd
        send:
          - zstd
      max_decoding_message_size: 16MiB
      server_tcp_keepalive: 30s
      server_tcp_nodelay: true
      server_http2_adaptive_window: true
      server_http2_keepalive_interval: 30s
      server_http2_keepalive_timeout: 10s
      server_initial_connection_window_size: 67108864
      server_initial_stream_window_size: 16777216

    stream:
      messages_len_max: 16MiB
      messages_max_per_tick: 100
      messages_replay_len_max: 256MiB
      ping_interval: 30s

    unary:
      enabled: false
      affinity: null # by default no affinity (taskset syntax)
      requests_queue_size: 100