{
  "libpath": "/home/solv/yellowstone-grpc/target/release/libyellowstone_grpc_geyser.so",
  "log": {
    "level": "error"
  },
  "tokio": {
    "worker_threads": 32,
    "affinity": "0-31"
  },
  "grpc": {
    "address": "0.0.0.0:10000",
    "compression": {
      "accept": ["gzip", "zstd"],
      "send": ["gzip", "zstd"]
    },
    "server_http2_keepalive_timeout": "10s",
    "max_decoding_message_size": "8_000_000",
    "channel_capacity": "4_000_000",
    "unary_disabled": true,
    "x_token": "{{ x_token }}",
    "replay_stored_slots": 0,
    "filter_name_size_limit": 128,
    "filter_names_size_limit": 4096,
    "filter_names_cleanup_interval": "10s",
    "filter_limits": {
      "accounts": {
        "max": 20,
        "any": true,
        "account_max": 30,
        "account_reject": ["TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"],
        "owner_max": 30,
        "owner_reject": ["11111111111111111111111111111111"],
        "data_slice_max": 20
      },
      "slots": {
        "max": 20
      },
      "transactions": {
        "max": 20,
        "any": true,
        "account_include_max": 30,
        "account_include_reject": [
          "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
        ],
        "account_exclude_max": 20,
        "account_required_max": 20
      },
      "transactions_status": {
        "max": 20,
        "any": true,
        "account_include_max": 20,
        "account_include_reject": [
          "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
        ],
        "account_exclude_max": 10,
        "account_required_max": 10
      },
      "blocks": {
        "max": 20,
        "account_include_max": 30,
        "account_include_any": true,
        "account_include_reject": [
          "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"
        ],
        "include_transactions": true,
        "include_accounts": true,
        "include_entries": true
      },
      "blocks_meta": {
        "max": 20
      },
      "entries": {
        "max": 20
      }
    }
  },
  "prometheus": {
    "address": "0.0.0.0:8999"
  }
}