[Unit]
Description=Richat daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=solv
Restart=always
RestartSec=1
LimitNOFILE=1000000
LimitMEMLOCK=2000000000
LogRateLimitIntervalSec=0
WorkingDirectory=/home/solv
ExecStart=/home/solv/richat --config /home/solv/richat-config.yml

[Install]
WantedBy=multi-user.target
