#!/bin/bash
exec agave-validator \
--identity /home/solv/identity.json \
--log /home/solv/solana-validator.log \
--accounts /mnt/accounts \
--ledger /mnt/ledger \
--snapshots /mnt/snapshot \
--entrypoint entrypoint.testnet.solana.com:8001 \
--entrypoint entrypoint2.testnet.solana.com:8001 \
--entrypoint entrypoint3.testnet.solana.com:8001 \
--known-validator 5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on \
--known-validator dDzy5SR3AXdYWVqbDEkVFdvSPCtS9ihF5kJkHCtXoFs \
--known-validator Ft5fbkqNa76vnsjYNwjDZUXoTWpP7VYm3mtsaQckQADN \
--known-validator eoKpUABi59aT4rR9HGS3LcMecfut9x7zJyodWWP43YQ \
--known-validator 9QxCLckBiJc783jnMvXZubK4wH86Eqqvashtrwvcsgkv \
--only-known-rpc \
--expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
--dynamic-port-range {{ dynamic_port_range | default("8900-8925") }}  \
--no-voting \
--full-rpc-api \
--rpc-port {{ port_rpc | default(8899, true) }} \
--wal-recovery-mode skip_any_corrupted_record \
--expected-shred-version 41708 \
--expected-bank-hash 4NuNyboT36pwwGJvMPZLreFqYpkbpBjX82nkt4AkJ9QT \
{% if rpc_type == 'Geyser gRPC' -%}
--limit-ledger-size 50000000 \
--no-snapshot-fetch \
--enable-rpc-transaction-history \
--geyser-plugin-config /home/solv/geyser.json \
{% elif rpc_type == 'SendTx RPC' -%}
--limit-ledger-size 30000000 \
--no-snapshot-fetch \
{% elif rpc_type == 'Index RPC' -%}
--limit-ledger-size 200000000 \
--enable-rpc-transaction-history \
--enable-extended-tx-metadata-storage \
--account-index program-id spl-token-mint spl-token-owner \
{% elif rpc_type == 'Index RPC + gRPC' -%}
--limit-ledger-size 200000000 \
--enable-rpc-transaction-history \
--enable-extended-tx-metadata-storage \
--account-index program-id spl-token-mint spl-token-owner \
--geyser-plugin-config /home/solv/geyser.json \
{% else -%}
--limit-ledger-size {{ limit_ledger_size | default(100000000) }} \
{% endif -%}
--no-port-check{% if rpc_type == 'Geyser gRPC' or rpc_type == 'Index RPC + gRPC' %} \
--rpc-pubsub-enable-block-subscription \
--rpc-pubsub-enable-vote-subscription \
{% endif %}{% if validator_type == 'jito' %}
--shred-receiver-address {{ shred_receiver_address | default("64.130.35.224:1002") }}
{% endif %}