#!/bin/bash
exec agave-validator \
--identity /home/solv/identity.json \
--vote-account {{ vote_account }} \
--log /home/solv/solana-validator.log \
--accounts /mnt/accounts \
--ledger /mnt/ledger \
--entrypoint entrypoint.testnet.solana.com:8001 \
--entrypoint entrypoint2.testnet.solana.com:8001 \
--entrypoint entrypoint3.testnet.solana.com:8001 \
--known-validator 5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on \
--only-known-rpc \
--expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
--dynamic-port-range {{ dynamic_port_range | default("8900-8925") }} \
--rpc-port {{ port_rpc | default(8899, true) }} \
--wal-recovery-mode skip_any_corrupted_record \
--wait-for-supermajority 343175553 \
--expected-shred-version 9065 \
--expected-bank-hash 4oMrSXsLTiCc1X7S27kxSfGVraTCZoZ7YTy2skEB9bPk \
--limit-ledger-size \
--no-port-check \
--commission-bps {{ commission_bps | default(1000) }} \
--relayer-url http://ny.testnet.relayer.jito.wtf:8100 \
--block-engine-url https://ny.testnet.block-engine.jito.wtf \
--shred-receiver-address 64.130.35.224:1002 \
--tip-payment-program-pubkey GJHtFqM9agxPmkeKjHny6qiRKrXZALvvFGiKf11QE7hy \
--tip-distribution-program-pubkey F2Zu7QZiTYUhPd7u9ukRVwxh7B71oA3NMJcHuCHc29P2 \
--merkle-root-upload-authority 7heQNXEtxSv3wV8sNbuQsDN5xNGbbpLvHGiyXuJxEf7n \