#!/bin/bash
exec agave-validator \
--identity /home/solv/identity.json \
--vote-account {{ vote_account }} \
--log /home/solv/solana-validator.log \
--accounts /mnt/accounts \
--ledger /mnt/ledger \
--entrypoint entrypoint.testnet.solana.com:8001 \
--entrypoint entrypoint2.testnet.solana.com:8001 \
--entrypoint entrypoint3.testnet.solana.com:8001 \
--known-validator 5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on \
--only-known-rpc \
--expected-genesis-hash 4uhcVJyU9pJkvQyS88uRDiswHXSCkY3zQawwpjk2NsNY \
--dynamic-port-range {{ dynamic_port_range | default("8000-8030") }} \
--rpc-port {{ port_rpc | default(8899, true) }} \
--wal-recovery-mode skip_any_corrupted_record \
--wait-for-supermajority {{ wait_for_supermajority | default("383520372") }} \
--expected-shred-version {{ expected_shred_version | default("57087") }} \
--expected-bank-hash {{ expected_bank_hash | default("YFxSkDcvSPiA7EQpSTbCsWbJvNYMAsWXGvwGc3bXHEA") }} \
--limit-ledger-size {{ limit_ledger_size | default(200000000) }} \
--no-port-check \
{% if xdp_enabled | default(false) and xdp_interface | default('') %}
--experimental-retransmit-xdp-interface {{ xdp_interface }} \
--experimental-retransmit-xdp-cpu-cores {{ xdp_cpu_cores | default(1, true) }} \
{% if xdp_zero_copy | default(false) %}
--experimental-retransmit-xdp-zero-copy \
{% endif %}
{% if xdp_poh_pinned_cpu_core is defined %}
--experimental-poh-pinned-cpu-core {{ xdp_poh_pinned_cpu_core }} \
{% endif %}
{% endif %}
--rpc-bind-address 0.0.0.0