#!/bin/bash
exec agave-validator \
--identity /home/solv/identity.json \
--vote-account {{ vote_account }} \
--log /home/solv/solana-validator.log \
--accounts /mnt/accounts \
--ledger /mnt/ledger \
--entrypoint entrypoint.testnet.solana.com:8001 \
--entrypoint entrypoint2.testnet.solana.com:8001 \
--entrypoint entrypoint3.testnet.solana.com:8001 \
--known-validator 5D1fNXzvv5NjV1ysLjirC4WY92RNsVH18vjmcszZd8on \
--dynamic-port-range {{ dynamic_port_range | default("8000-8025") }} \
--rpc-port {{ port_rpc | default(8899, true) }} \
--wal-recovery-mode skip_any_corrupted_record \
{% if wait_for_supermajority is defined %}
--wait-for-supermajority {{ wait_for_supermajority }} \
{% endif %}
--expected-shred-version {{ expected_shred_version | default(57087) }} \
{% if expected_bank_hash is defined %}
--expected-bank-hash {{ expected_bank_hash }} \
{% endif %}
--limit-ledger-size {{ limit_ledger_size | default(200000000) }} \
--no-port-check \
{% if xdp_enabled | default(false) %}
--experimental-retransmit-xdp-interface {{ xdp_interface }} \
--experimental-retransmit-xdp-cpu-cores {{ xdp_cpu_cores | default(1) }} \
{% if xdp_zero_copy | default(false) %}
--experimental-retransmit-xdp-zero-copy \
{% endif %}
{% if xdp_poh_pinned_cpu_core is defined %}
--experimental-poh-pinned-cpu-core {{ xdp_poh_pinned_cpu_core }} \
{% endif %}
{% endif %}
{% if validator_type in ['jito', 'allnodes-jito'] %}
--tip-payment-program-pubkey GJHtFqM9agxPmkeKjHny6qiRKrXZALvvFGiKf11QE7hy \
--tip-distribution-program-pubkey DzvGET57TAgEDxvm3ERUM4GNcsAJdqjDLCne9sdfY4wf \
--merkle-root-upload-authority 7T4inmPmtNBX3MhLwJ9hFsSMnGJYYkKioVABSNTWVRuS \
--commission-bps {{ commission_bps | default(0) }} \
--block-engine-url {{ block_engine_url | default("https://ny.testnet.block-engine.jito.wtf") }} \
--shred-receiver-address {{ shred_receiver_address | default("64.130.35.224:1002") }} \
{% if bam_url is defined and bam_url %}
--bam-url {{ bam_url }} \
{% endif %}
{% endif %}
