{
  "libpath": "/home/solv/yellowstone-grpc/target/release/libyellowstone_grpc_geyser.so",
  "log": {
    "level": "error"
  },
  "tokio": {
    "worker_threads": 32,
    "affinity": "0-31"
  },
  "grpc": {
    "address": "0.0.0.0:10000",
    "compression": {
      "accept": ["gzip", "zstd"],
      "send": ["gzip", "zstd"]
    },
    "server_http2_keepalive_timeout": "5s",
    "max_decoding_message_size": "8_000_000",
    "channel_capacity": "4_000_000",
    "unary_disabled": true,
    "x_token": "{{ x_token }}",
    "replay_stored_slots": 0,
    "filter_name_size_limit": 128,
    "filter_names_size_limit": 4096,
    "filter_names_cleanup_interval": "10s"
  },
  "prometheus": {
    "address": "0.0.0.0:8999"
  }
}